@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
  99% {
    visibility: visible;
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
